@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 90px; 
}

section {
  scroll-margin-top: 100px;
}

@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: #3b82f6; }
}
.animate-blink {
  animation: blink 1s step-end infinite;
}

#about, #services, #portfolio, #contact {
  scroll-margin-top: 0px;
}

@media (max-width: 768px) {
  #about, #services, #portfolio, #contact {
    scroll-margin-top: 0x; 
    font-size: 14.5px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}