@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /* Height of sticky header */
}

section {
  scroll-margin-top: 100px; /* Ensures content isn't hidden */
}